NATS_SERVER="127.0.0.1:4222"                            # NATs server to connect to
PUBLISH_SUBJECT="network.devices.running_config"        # NATs subject to publish running configs to
SUBSCRIBE_SUBJECT="network.actions.get_running_config"  # NATs subject to subscribe to. The agent runs when a message is receieved
NETBOX_URL="https://yournetbox.instance.com/"           # NetBox instance to pull device inventory from
NETBOX_TOKEN="YOUR NETBOX TOKEN"                        # NetBox API token. Must have at least `read` permission on `dcim/device`